* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

body{
    font-size: 10px;
    font-family: sans-serif;
    scroll-behavior: smooth;    
}

header{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}

.door{
    display: flex;
    align-items: center;
}

.door img{
    width: 30px;
    height: 25px;
}

.logo img{
    width: 150px
}

header nav ul{
    display: flex;
    gap: 1rem;
}

.door ul{
    display: flex;
    gap: 1rem;
}

.page{
    background-image: url('../images/closet\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    position: relative;
    
}

.controls {
    font-size: 1rem;
    background: gainsboro;
    color: gray;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    cursor: pointer;
}

.controls:hover {
    background: white;
}

.indicators {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active,
.indicator:hover {
    background: navy;
}

.white-board{
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 15px 20px;
    display: flex;
    margin: 10px;
    width: 65%;
}

.roundimg{
    overflow: hidden;
}

.avatar{
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    object-fit: cover;
}

.inner{
    width: 60%;
    margin: 10px;
}

.white-board h1{
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(52, 52, 114);
}

.white-board p{
    margin-top: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #707070;;
}

.directs{
    display: flex;
    justify-content: space-around;
    padding: 10px 90px;
    margin-top: 30px;
}

.lefts {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px gainsboro;
    border: 1px solid gainsboro;
    width: 50%;
    justify-content: center;
}


.left h1, .right h1 {
    font-size: 1rem;
    color: black;
    font-weight: 700;
}
form{
    margin: 10px;
}
form h1{
    font-size: 22px;
    font-weight:700;
    padding:0px 5px 15px;
}
input{
    display: flex;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    letter-spacing: 1px ;
    text-align: left;
    padding: 11px 120px;

    /* 
    padding: 7px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    color: gray;
    letter-spacing: 1px; */
}



.suggest input{
    padding: 60px 120px;
    border-radius: 8px;
    border: 1px solid gainsboro;
}

.battons{
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding: 10px 0;
}
.lbat h2{
    padding: 8px 16px;
    background-color: rgb(37, 37, 180);
    border-radius: 5px;
    border: none;
    color: white;
}

.rbat h2{
    padding: 8px 16px;
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
    border: none;
    color: white;
    /*  background: blue;
    width: fit-content;
    padding: 8px 25px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 700; */
}



.cont{
    padding: 20px;
}

.cont p{
    color: #707070;
    font-size: 15px;
    line-height: 2.5rem;
}
#noxa{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px gainsboro;
    border: 1px solid gainsboro;
    height: 200px;
    width: 280px;
}

.inmap{
    padding:16px;
}

/*
.iframe{
    height: 200px;;
    width: 280;
}
*/



.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding: 9px;
}

.right h1{
    font-size: 23px;
}


.lsection{
    padding: 40px 0;
    background: linear-gradient(rgba(2, 53, 131, 0.836), rgba(5, 37, 107, 0.842));
    display: flex;
    justify-content:space-around;
}
.sec2 h2{
    font-size: 17px;
}
.sec2 p{
    font-size: 15px;
    font-weight: 300;
}
.barbut{
    display:blo;
}

.sec3 button{
    background-color: rgb(255, 166, 0);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.sec3 input{
    padding: 9px;
    border-radius: 5px;
    border: none;
    width: 250px;
}

.sec3 input:focus{
    outline: none;
    border: 1px solid gainsboro;
}

.sec3 h3{
    font-size: 17px;
}
.sec3 h4{
    font-size: 14px;
}

#box button{
    background-color: blue;
    color: white;
}
.sec3 h3{
    padding: 10px 0px;
}
.submit{
    padding: 10px 0px;
}


.social{
    display: flex;
    gap: .5rem;
    margin-top: 10px;
}

.social a {
    padding: 10px;
    background: white;
    margin: 0;
    border-radius: 50%;
}
.social img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.row{
    display: flex;
}
.row h1{
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.row img{
    height: 60px;
    width: 120px;
}
.sec1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sec1 a {
    font-size: .8rem;
    color: grey;
    font-weight: bold;
    padding-left: 10px;
}
.sec2 h2{
    color: white;
}
.sec2 p{
    margin-top: 15px;
    color: #c4c4c4;
    font-size: .9rem;
    word-spacing: 2px;
    line-height: 1.5rem;
}

footer{
    background-color: rgba(136,151,179,255);
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer .copyright {
    font-size: .9rem;
    font-weight: 100;
    color: white;
  }

